.element__trash-can {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url('../../../images/trash-can.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .3s ease-in;
}

.element__trash-can:hover {
    opacity: .6;
    cursor: pointer;
}