.popup__submit-button {
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    border-radius: 2px;
    background-color: #000;
    color: #FFFFFF;
    width: 100%;
    min-height: 50.15px;
    padding: 0;
    margin: 46px 0 0;
    border: none;
    box-sizing: border-box;
    transition: background-color .3s ease-in;
}
  
.popup__submit-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;

}

@media screen and (max-width:505px) {
    .popup__submit-button {
      font-size: 14px;
      min-height: 46px;
      margin: 44px 0 0;
    }
}