.header {
    min-height: 74px;
    max-width: 880px;
    width: 100%;
    margin: 45px auto 0;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 930px) {
    .header {
      width: calc(100% - 38px);;
    }
  }

@media screen and (max-width: 767px) {
    .header {
      min-height: 64px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .header {
      min-height: 56px;
      margin: 28px auto 0;
      width: 100%
    }
  }
  

