.popup__header {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000;
    margin: 0 0 46px;
  }
  
@media screen and (max-width: 505px) {
    .popup__header {
      margin: 0 0 75px;
      font-size: 18px;
    }
}
  