.profile__description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 7px 0 0;
}

@media screen and (max-width: 805px) {
  .profile__description {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 560px) {
  .profile__description {
    text-align: center;
    font-size: 14px;
    max-width: 282px;
  }
}
  