@import url(../vendor/normalize.css);
@import url(../vendor/fonts__inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__header/profile__header.css);
@import url(../blocks/profile/__badge/profile__badge.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__description/profile__description.css);

@import url(../blocks/element/element.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like-it/element__like-it.css);
@import url(../blocks/element/__like-it/_activated/element__like-it_activated.css);
@import url(../blocks/element/__trash-can/element__trash-can.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__header/popup__header.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__close/popup__close-button.css);

@import url(../blocks/popup/__close-picture/popup__close-picture.css);
@import url(../blocks/popup/__picture-title/popup__picture-title.css);
@import url(../blocks/popup/__container/_type_picture/container_type_picture.css);
@import url(../blocks/popup/__picture/popup__picture.css);
@import url(../blocks/popup/_type_picture/popup_type_picture.css);

