.elements__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
    justify-content: center;
    line-height:0;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }